:root {
  --primary: #4675bf;
  --primary_rgb: 70, 117, 191;
  --primary_active: #4675bf;
  --primary_rgb_active: 70, 117, 191;
  --secondary: #19335a;
  --secondary_rgb: 25, 51, 90;
  --secondary_active: #19335a;
  --secondary_rgb_active: 25, 51, 90;
  --active: #dc143c;
  --font: white;
  --active-bg: var(--active);
}
* {
  cursor: alias;
}
.animated-circle:after {
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(var(--primary_rgb), 0.4);
  box-shadow: 0 0 0 0 rgba(var(--primary_rgb), 0.4);
  -webkit-animation: ripple 2s infinite;
  animation: ripple 2s infinite;
}
