:root {
  --primary: #4675bf;
  --primary_rgb: 70, 117, 191;
  --primary_active: #4675bf;
  --primary_rgb_active: 70, 117, 191;
  --secondary: #19335a;
  --secondary_rgb: 25, 51, 90;
  --secondary_active: #19335a;
  --secondary_rgb_active: 25, 51, 90;
  --active: #dc143c;
  --font: white;
  --active-bg: var(--active);
  cursor: alias;
}
